* {
    margin: 0;
    padding: 0;
}

.main-title {
    width: 100vw;
    text-align: center;
    padding: 15px;
}

#title-text {
    font-size: 35px;
}

.pic-section {
    width: 100vw;
    text-align: center;
}

.date-section {
    width: 100vw;
    text-align: center;
}

.summary-section {
    width: 100vw;
    text-align: center;
    font-size: 20px;
}

.body-container {
    height: 100vh;
}

body {
    background: linear-gradient(#E6D5D5, #E98383);
}